body {
    background: cornflowerblue;
}

.zero {

}

.cross {

}

.horizontal-line {
    height: 5px;
    background: darkgrey;
}

.vertical-line {
    width: 5px;
    background: darkgrey;
}

.hidden {
    visibility: hidden;
}