body {
    margin: 0;

    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    background: cornflowerblue;
}

.game-container {
    display: flex;
    flex-direction: column;

    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.game-state-title {
    color: black;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-decoration: none;
}

.game-grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    margin-top: 40px;
}

.game-cell {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.nought {
    width: 80px;
    height: 80px;
}

.cross {
    width: 80px;
    height: 80px;
}

.left-cell-border {
    border-left-width: 2px;
    border-left-color: darkgrey;
    border-style: solid;
}

.top-cell-border {
    border-top-width: 2px;
    border-top-color: darkgrey;
    border-style: solid;
}

.right-cell-border {
    border-right-width: 2px;
    border-right-color: darkgrey;
    border-style: solid;
}

.bottom-cell-border {
    border-bottom-width: 2px;
    border-bottom-color: darkgrey;
    border-style: solid;
}

.left-cell-remove-border {
    border-left-width: 0;
}

.top-cell-remove-border {
    border-top-width: 0;
}

.right-cell-remove-border {
    border-right-width: 0;
}

.bottom-cell-remove-border {
    border-bottom-width: 0;
}

.hidden {
    display: none !important;
}

.game-information-panel {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 15%;
    padding: 40px;

    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.panel-title {
    color: white;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.play-again-button {
    height: 50px;
    width: 300px;
    background-color: #4CAF50;

    border-color: #4CAF50;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin-top: 20px;
}

.play-again-button:hover {
    background-color: white;
    color: black;
}

.play-again-button:active {
    transform: scale(0.97);
}